.iconPerfil{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.containerPerfil{
    display: flex;
    /* margin: 10px; */
    /* padding: 40px; */
}
.containerPerfil .card{
    margin-left: 50px;  
}
.containerPerfil .card{
    width: 80%;
    background-color: #0079FF;
    border-radius: 50px;
    color: #F6FA70;
}
.sobreCursos p{
   /*  margin-top: 50px; */
    text-align: left;
    margin-bottom: 0px !important;
    
}
.containerCard{
    margin: 70px;
    padding: 50px;
}
#card1 .card-body{
    padding: 60px;
    background-color:#0079FF;
    color: #F6FA70;
    border-radius: 3.5px;
}

#card2 .card-body{
    padding: 60px;
    background-color:#0079FF;
    color: #F6FA70;
    border-radius: 3.5px;
}
.card-text-2{
    margin-top: 50px;
}
.card-title{
    color: black;
}


