/* css do index */

/* inicio css main */

/*Inicio carrossel */


section.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider-content {
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input,
.img-mobile {
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img {
  width: 100%;
}

.nav-manual,
.nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 29.5%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
  border: 1px solid #0079FF;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: #0079FF;
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3 {
  background-color: #0079FF;
}

#radio1:checked~.primeiro {
  margin-left: 0%;
}

#radio2:checked~.primeiro {
  margin-left: -25%;
}

#radio3:checked~.primeiro {
  margin-left: -50%;
}

@media screen and (max-width: 999px) {
  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .nav-auto,
  .nav-manual {
    margin-top: 104%;
  }
}

/*Fim carrossel */

/* Inicio das escritas da pagina inicial */

.containerInfo {
  margin-top: 10%;
  margin-bottom: 3%;
  text-align: center;
  padding-bottom: 200px;
}



.container1 {
  padding-left: 25%;
  padding-right: 25%;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* margin-top: 200px; */
}



/* Fim das escritas da pagina inicial */

/* fim do css main */



/* inicio css footer */

.page-footer {
  background-color: #0079FF;
  padding: 50px;
}




/* fim do css footer */